<html>

<head>
	<title>FullStack Nanodegree Capstone</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="static/assets/css/main.css" />
	<link rel="icon" href="static/icon.png" />
	<noscript>
		<link rel="stylesheet" href="static/assets/css/noscript.css" />
	</noscript>
	<script src="static/assets/js/google.js"></script>
</head>

<body class="is-preload">
	<div id="wrapper">
		<div id="bg"></div>
		<div id="overlay"></div>
		<div id="main">

			<!-- Header -->
			<header id="header">
				<img style="width: 180px; height: 180px;" src="static/images/pic.png"
					alt="khalids_gh's profile picture"><br /><br />
				<h1>Khalid Alghamdi</h1>
				<p>FullStack Nanodegree Capstone</p>
				<br>
				<a href="https://dev-5nsv-mfm.us.auth0.com/authorize?audience=capstone&response_type=token&client_id=MmazkJEqhbK9XfaiJGfL1bMN6Pu4monb&redirect_uri=https://ksg-capstone.herokuapp.com/" class="btn btn-primary" role="button" data-bs-toggle="button">Login</a>
				<br>
				<p>Casting Assistant</p>
				<input class="form-control" type="text" value="eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6ImtSdjhnWWM0d01SNFJFX3dITnBLWCJ9.eyJpc3MiOiJodHRwczovL2Rldi01bnN2LW1mbS51cy5hdXRoMC5jb20vIiwic3ViIjoiYXV0aDB8NjEyYTUxOWE4ZmM0YmEwMDcxZjBiNWFjIiwiYXVkIjoiY2Fwc3RvbmUiLCJpYXQiOjE2MzAxNzAxMjYsImV4cCI6MTYzMDI1NjUyNiwiYXpwIjoiTW1hemtKRXFoYks5WGZhaUpHZkwxYk1ONlB1NG1vbmIiLCJzY29wZSI6IiIsInBlcm1pc3Npb25zIjpbImdldDphY3RvcnMiLCJnZXQ6bW92aWVzIl19.Zdv1rE2pz1uNnJVfIe4HQA-yiaUOYi99LkSJA9OkO53wAKGBACQO2JYSACqQQm4tkN0G4fnDjL2G35RMYCnBCHqMWnq2PlM5dYIBLnrIlMfRTa64_sPGoSD-0EhezAq7TGz_MiAi1q0smBFw_93tVjMaJn6vmygBXMN2QfKzTinj8L39VaURGACk4GYw890ilGnetSUdjqziT_kObo77uPFtpw62WmSKVlbL8KD2NXPqRrxF3aJetVEuz0fYLw3O4C93ymetNsBGNHyvOgOTCT2KhKAbV4ZTJcD_WUKesJG5xZX9DBrCsImVhZazNgaHBqBXyl9IhrPRnPNiny2FZg"
					aria-label="Disabled input" disabled readonly>
				<br>
				<p>Casting Director</p>
				<input class="form-control" type="text" value="eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6ImtSdjhnWWM0d01SNFJFX3dITnBLWCJ9.eyJpc3MiOiJodHRwczovL2Rldi01bnN2LW1mbS51cy5hdXRoMC5jb20vIiwic3ViIjoiYXV0aDB8NjEyYTZjZjZhYWFiMmYwMDZhZTA5NmZlIiwiYXVkIjoiY2Fwc3RvbmUiLCJpYXQiOjE2MzAxNzA0ODYsImV4cCI6MTYzMDI1Njg4NiwiYXpwIjoiTW1hemtKRXFoYks5WGZhaUpHZkwxYk1ONlB1NG1vbmIiLCJzY29wZSI6IiIsInBlcm1pc3Npb25zIjpbImRlbGV0ZTphY3RvciIsImdldDphY3RvcnMiLCJnZXQ6bW92aWVzIiwicGF0Y2g6YWN0b3IiLCJwYXRjaDptb3ZpZSIsInBvc3Q6YWN0b3IiXX0.jzJHnKxVOUXMZKbkpxa_y1YVuRi2s4IV4a5PHJbsUPjmE-2NXV4F16cFqQG22xCm_wRGSTm0I2c7LAsiaB2aedVjhAT7XfVrYDrLhxXYoqbebwHiAyMzjP_GRFS8SHO2o9trTH6GLfPJZfQ2PM_0H5KXdpp6_l3BUB-drx-TLtzMLQR1cjTQHisyWvSkDdLLh6jgM_s9bgcb4C03YzMgzC5VzHSjsYH0NAQ1impYBjqdJUVSSj4czfbPpzN83Ri4kA3onGy3KOOH8uh_N6xQ51FSl-BWcwLVuwSYhIx76gT1ejDNigfa8mLyuIoRV5a_UCZpP9Oq919t5_12XKagBg"
					aria-label="Disabled input" disabled readonly>
				<br>
				<p>Executive Producer</p>
				<input class="form-control" type="text"
					value="eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6ImtSdjhnWWM0d01SNFJFX3dITnBLWCJ9.eyJpc3MiOiJodHRwczovL2Rldi01bnN2LW1mbS51cy5hdXRoMC5jb20vIiwic3ViIjoiYXV0aDB8NjEyYTZlZjdhYWFiMmYwMDZhZTA5NzVhIiwiYXVkIjoiY2Fwc3RvbmUiLCJpYXQiOjE2MzAxOTc4NTQsImV4cCI6MTYzMDI4NDI1NCwiYXpwIjoiTW1hemtKRXFoYks5WGZhaUpHZkwxYk1ONlB1NG1vbmIiLCJzY29wZSI6IiIsInBlcm1pc3Npb25zIjpbImRlbGV0ZTphY3RvciIsImRlbGV0ZTptb3ZpZXMiLCJnZXQ6YWN0b3JzIiwiZ2V0Om1vdmllcyIsInBhdGNoOmFjdG9yIiwicGF0Y2g6bW92aWUiLCJwb3N0OmFjdG9yIiwicG9zdDptb3ZpZSJdfQ.WqsQv6Bi2qMttfvwSP8ryWj2JGb7zItVyHvc97wpPeQQ0QyZZdR-94pXUqFbN7OaGb9GzPwO0Olc6Y573hDqXIx8CU5yjqRitNIro5v3BddmX9IbGssQhnnFHVQ3xrZMfvnEibBZOzPCswdFQTGm6VD7g6_ATXypLwP93HinxLcawDriBEr-W8ESvJx01R_pxkWyHQVcbObFuRm1pUSWaw1CoBpWpCsEDiinft0fDl7xohJtxJZieJOVfZf6s3Ef8IrIM9pJWPDtq7P9BfkyYtEMkHyiGcroq_ODAFUdAmdAxtSmr04CT0nOq42mrXVhs3Y5VIatGuKidFrYcfiFIQ"
					aria-label="Disabled input" disabled readonly>
			</header>

			<!-- Footer -->
			<footer id="footer">
				<span class="copyright">&copy; CopyRight 2021</span>
			</footer>

		</div>
	</div>
	<script>
		window.onload = function () { document.body.classList.remove('is-preload'); }
		window.ontouchmove = function () { return false; }
		window.onorientationchange = function () { document.body.scrollTop = 0; }
	</script>
</body>

</html>