<html>
	<head>
		<title>FullStack Nanodegree Capstone</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
		<link rel="icon" href="static/assets/css/images/icon.png" />
		<noscript><link rel="stylesheet" href="static/assets/css/noscript.css" /></noscript>
		<script src="static/assets/js/google.js"></script>
	</head>
	<body class="is-preload">
		<div id="wrapper">
			<div id="bg"></div>
			<div id="overlay"></div>
			<div id="main">

				<!-- Header -->
					<header id="header">
						<img style="width: 180px; height: 180px;" src="static/assets/css/images/pic.png" alt="khalids_gh's profile picture"><br /><br /><h1>Khalid Alghamdi</h1>
						<p>FullStack Nanodegree Capstone</p>
						<nav>
							<ul>
                      			<li><a href="https://www.linkedin.com/in/khalidsgh/" class="fab fa-linkedin" aria-hidden="true" ><span class="label">Linkedin</span></a></li>
								<li><a href="https://github.com/Dev707" class="fab fa-github" aria-hidden="true"  ><span class="label">GitHub</span></a></li>
								<li><a href="mailto:mr@ksg.sa" class="fa fa-envelope" aria-hidden="true"><span class="label">Email</span></a></li>
							</ul>
						</nav>
                        <section id="section-about">
                            <br>
                            
                        </section>
					</header>

				<!-- Footer -->
					<footer id="footer">
						<span class="copyright">&copy; CopyRight 2021</span>
					</footer>

			</div>
		</div>
		<script>
			window.onload = function() { document.body.classList.remove('is-preload'); }
			window.ontouchmove = function() { return false; }
			window.onorientationchange = function() { document.body.scrollTop = 0; }
		</script>
	</body>
</html>